/* :root {
  --background-primary: #f8f5eb;
  --background-footer-primary: #1e1e31;
  --background-footer-secondary: #292839;
  --text-primary: #2f3149;
  --text-secondary: #b3b3b3;
  --text-footer: #f8f5eb;
  --text-hover-and-contrast: #eb2227;
  --form-footer: #4b4b5a;
  --yellow-on-dark: #ecaa39;
  --blue-on-dark: #2ebec7;
} */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  outline: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

img {
  display: block; /* margin-bottom disappears */
  max-width: 100%; /* width isn't larger then parent */
  height: auto; /* correct scaling */
}

.list {
  margin: 0;
  padding: 0;
}

#datepicker, #timepicker {
  text-align: center;
}
