/*     
<span class="jenson"><i>Res</i></span>
<span class="jenson"><i>Del</i></span>
<span class="jenson"><i>Add</i></span>
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body {
  padding: 20px;
  background-color: #232323;
}

ul {
  list-style-type: none;
}

.container {
    text-align: center;
}
.row-list {
  /* background-color: tomato; */
  display: flex;
}

.column-list {
  /* background-color: rgb(114, 245, 250); */
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.quad {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: black;
  margin-bottom: 20px;
  animation: blink infinite;
}

@keyframes blink {
  0% {
    background-color: plum;
  }
}


.jenson {
  margin-right: 4px;
  padding-top: 8px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow: inset -8px 0 8px rgba(0,0,0,0.15), inset 0 -8px 8px rgba(0,0,0,0.25);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.jenson i {
  position: relative;
  color: #fff;
  font-style: normal;
}

.jenson::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 10px;
  box-shadow: -10px -10px 10px rgba(255,255,255,0.25), 10px 5px 10px rgba(0,0,0,0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;

}

