:root {
  --background-primary: #f8f5eb;
  --background-footer-primary: #1e1e31;
  --background-footer-secondary: #292839;
  --text-primary: #2f3149;
  --text-secondary: #b3b3b3;
  --text-footer: #f8f5eb;
  --text-hover-and-contrast: #eb2227;
  --form-footer: #4b4b5a;
  --yellow-on-dark: #ecaa39;
  --blue-on-dark: #2ebec7;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  outline: none;
}

body {
  margin: 0;
  background-color: var(--background-primary);
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

img {
  display: block; /* margin-bottom disappears */
  max-width: 100%; /* width isn't larger then parent */
  height: auto; /* correct scaling */
}

.list {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 340px;
  /* height: 680px; */
  height: 90vh;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.new-task-form {
}
.new-task-input {
}

#tasks-list {
  list-style-type: none;
  padding: 0;
  background-color: plum;
}

.completed {
  text-decoration: line-through;
}

/* box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%); */

/* https://atlantabrewing.com/# */
