html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

img {
    display: block; /* margin-bottom disappears */
    max-width: 100%; /* width isn't larger then parent */
    height: auto; /* correct scaling */
}

.list {
    margin: 0;
    padding: 0;
}
