* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

#row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.quad {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: black;
  margin-bottom: 20px;
  animation: blink infinite;
}

@keyframes blink {
  0% {
    background-color: plum;
  }
}

.jenson {
  margin: 0 20px 40px 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow: inset -8px 0 8px rgba(0,0,0,0.15), inset 0 -8px 8px rgba(0,0,0,0.25);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75), 5px 5px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  color: #fff;
  font-family: consolas;
}

.jenson:active {
  color: #888;
}

.jenson:disabled {
  color: #444;
}