*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
label {
  cursor: pointer;
}

input {
  font: inherit;
}

.timer {
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  display: flex;
  justify-content: center;
}

.field {
  padding: 0 15px 10px;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  border-radius: 4px;
}

.value {
  font-size: 80px;
  color: #212121;
}
.field:not(:last-child) {
  margin-right: 20px;
}

.label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #888888;
}

@media screen and (max-width: 480px) {
  .value {
    font-size: 40px;
  }
  .field {
    padding: 0 7px 5px;
    border-radius: 2px;
  }
  .field:not(:last-child) {
    margin-right: 10px;
  }
  .label {
    font-size: 11px;
  }
}
